/*@TODO (6) : Specify what each selector and property-value pair does and means*/

html {/*Selects all items in the html tag*/
  box-sizing: border-box;/*Inserts a border around all the items inside the html tag */
  display: flex;/*Makes all items inside the html tag fit inside the flex-container*/
  flex-wrap: wrap;/*Makes all items inside the html tag to be put into mutiple lines*/
  justify-content: center;/*justifys all the content in the html tag to the center*/

}
*, *:before, *:after {
  box-sizing: inherit;/*defines how the width and height of an element is calculated inlcluding the padding and border*/
}
body {/*Selects all items in the body tag */
  font-family: Georgia, serif;/*Changes the fontfamily of all items within the body tag to Georgia,Serif */
  line-height: 1.5em;/*increases the line-height's of all elements in the body tag to 1.5 times the current size*/
}
h1 {  /* The h1  element selector selects all the h1 elements in the html file*/
  font-size: 4em; /*increases the h1's fontsize to 4 times the current size */
  font-weight: normal; /* Changes the h1's fontweight to a normal font*/
}
h2 {/* The h2  element selector selects all the h2 elements in the html file*/
  font-size: 1.2em;/*increases the h2's fontsize to 1.5 times the current size */
  margin-top: 0;/* */
}
#menu {
  border: 3px solid #783F27;/* */
  display: flex;/* */
  flex-wrap: wrap;/* */
  flex-direction: column;/* */
  padding: 0;/* */
  margin: 0;/* */
  justify-content: center;/* */
}

section {/*Selects all items in the section tag*/
  background: #F6F3ED /*Changes the back-ground color of the item in the section tag to color lightgrey */
  margin: 10px;/*Changes the margin size of all elements in the section tag to 10px */
  padding: 20px;/*Changes the padding size of all elements in the section tag to 20px */
  border: 1px dotted maroon;/* Changes the border size of all elements in the section tag to 1px and encloses it with a dotted maroon line*/
  width: 255px;/*Changes the width size of all elements in the section tag to 10px */
}
.title {/*Selects all items in the title tag*/
  background-color: #783F27;/*Changes the back-ground color of the item in the title tag to color brown*/
  color: #F9AB33;/*Changes the color of the item in the title tag to orange*/
  line-height: 4em;/*increases the line-height's of all elements in the tittle tag to 4 times the current size */
}
p {/* Selects all the items in the paragraph tag*/
  font-weight: bold;/*Changes all the items in the paragraphs tags to a bold fontweight */
  background: #F9AB33;/*Changes the  background color of the items in the paragraph tag to orange*/
  padding: 5px;/*Changes the padding size of the items in the paragraph tag to 5px */
  width: 100%;/*Changes the width of the items in the paragraph tag to 100% */
  text-align: center;/*Changes the alignment of the text in the paragraph tag to center*/
}
img[src$=".jpg"]{/*Selects all the images with the .jpg extensions*/
  width: 200px;/*Changes the images to a width size of 200px*/
}
